{% block form_row -%}
<div{% with { attr: row_attr } %}{{ block('attributes') }}{% endwith %}>
    <div class="form-row-wrapper">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="form-errors" role="alert" aria-live="polite">
            {{ form_errors(form) }}
        </div>
    </div>
</div>
{%- endblock %}
